<section class="todoapp">
    <header class="header">
        <h1>Sign Up</h1>
        <%= form_for(@user) do |f| %> 
            <%= f.text_field :email, :class => "new-todo", :placeholder => "Register with your e-mail." %>
            <%= f.text_field :password, :class => "new-todo", :placeholder => "Choose your password." %>
            <%= f.submit %> 
        <% end %> 
    </header>

    <footer class="footer">
    </footer>
</section> 