<h1><%= @item.description %></h1>
<p><h2><%= @item.status %></h2></p>

<h3>This is the item edit view.</h3>

#User will be able to check/uncheck categories for the item here.

<p>
<%= link_to "Back to list.", @item.list %>
</p>