<h1><%= @item.description %></h1>
<p><h2><%= @item.status %></h2></p>
#current categories of items will display here.

<p>
<%= link_to "Edit the categories for this item.", edit_list_item_path(@item) %>
<br>
<%= link_to "Back to list.", @item.list %>
</p>